<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snn.workflow.dao.OpinionMapper">
  <resultMap id="BaseResultMap" type="com.snn.workflow.entity.Opinion">
    <constructor>
      <idArg column="OpinionID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PROJECTID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PROJECTNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="State" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="Content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from opinion
    where OpinionID = #{opinionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.snn.workflow.entity.Opinion">
    insert into opinion (OpinionID, PROJECTID, PROJECTNAME, 
      `State`, create_time, update_time, 
      Content)
    values (#{opinionid,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, now(), now(),
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.snn.workflow.entity.Opinion">
    update opinion
    set PROJECTID = #{projectid,jdbcType=INTEGER},
      PROJECTNAME = #{projectname,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=INTEGER},
      create_time = now(),
      update_time = now(),
      Content = #{content,jdbcType=LONGVARCHAR}
    where OpinionID = #{opinionid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select OpinionID, PROJECTID, PROJECTNAME, `State`, create_time, update_time, Content
    from opinion
    where OpinionID = #{opinionid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select OpinionID, PROJECTID, PROJECTNAME, `State`, create_time, update_time, Content
    from opinion
  </select>
  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select OpinionID, PROJECTID, PROJECTNAME, `State`, create_time, update_time, Content
    from opinion
    where PROJECTID = #{projectId,jdbcType=INTEGER}
  </select>
</mapper>